{% extends "_git_base.html" %}

{% block git_content %}
Tree
<ul>
    {% match readme %}
    {% when Some with (val) %}
    {{val}}
    {% when None %}
    {% endmatch %}
    {% for entry in entries %}
    {% match entry.kind %}
    {% when Tree %}
    <li><a href="/{{repo_path}}/tree/{{ref_name}}{% match object_path %}{% when Some with(path) %}/{{path}}{% when None%}{% endmatch %}/{{entry.name}}">{{entry.name}}</a></li>
    {% when Blob %}
    <li><a href="/{{repo_path}}/blob/{{ref_name}}{% match object_path %}{% when Some with(path) %}/{{path}}{% when None%}{% endmatch %}/{{entry.name}}">{{entry.name}}</a></li>
    {% endmatch %}
    {% endfor %}
</ul>
{% endblock %}